@model IEnumerable<tcc_demo.Models.Service>


<h2>Listar Clientes</h2>


<table class="table">

    <tr>

        <th>

            @Html.DisplayNameFor(model => model.idService)

        </th>

        <th>

            @Html.DisplayNameFor(model => model.nameService)

        </th>

        <th>

            @Html.DisplayNameFor(model => model.priceService)

        </th>

        <th>

            @Html.DisplayNameFor(model => model.descriptionService)

        </th>


    </tr>



    @foreach (var item in Model)

    {

        <tr>

            <td>

                @Html.DisplayFor(modelItem => item.idService)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.nameService)

            </td>


            <td>

                @Html.DisplayFor(modelItem => item.priceService)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.descriptionService)

            </td>



            <td>

                @Html.ActionLink("Atualizar", "UpdateService", new { id = item.idService }) |

                @Html.ActionLink("Excluir", "DeleteService", new { id = item.idService }, new { onclick = "return confirm('Deseja realmente excluir?');" })

            </td>

        </tr>

    }



</table>





