
@model tcc_demo.Models.Plan

@using (Html.BeginForm("CadPlan", "Plan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <br />
    <div class="editor-label">
        @Html.LabelFor(m => m.namePlan)
    </div>

    <div class="editor-field">
        @Html.EditorFor(m => m.namePlan, new { htmlAttributes = new { @type = "text", } })
        @Html.ValidationMessageFor(model => model.namePlan, "", new { @class = "text-danger" })
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(m => m.descriptionPlan)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.descriptionPlan, new { htmlAttributes = new { @type = "text", } })
        @Html.ValidationMessageFor(model => model.descriptionPlan, "", new { @class = "text-danger" })
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(m => m.pricePlan)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.pricePlan, new { htmlAttributes = new { @type = "double", } })
        @Html.ValidationMessageFor(model => model.pricePlan, "", new { @class = "text-danger" })
    </div>
    <br />
    <input type="submit" value="Cadastrar" />
}
<br />
@ViewBag.msg

